* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000000;
}

h1 {
    font-family: "Russo One", sans-serif;
}

h2 {
    font-family: "Russo One", sans-serif;
}

h3 {
    font-family: "Russo One", sans-serif;
}

p {
    font-family: "DM Sans", sans-serif;
}

.header-container {
    width: 1600px;
    margin: auto;
}

.hero {
    background: url('img/hero-bg.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
}

.hero-content {
    padding: 150px;
}

.hero-content p {
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: "DM Sans", sans-serif;

}

.hero-content h1 {
    font-size: 80px;
    margin-bottom: 10px;
    text-transform: uppercase;
    width: 50%;
    font-family: "Russo One", sans-serif;
    font-weight: 500;

}

.btn-play {
    background-color: #FF6F00;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 20px;
    color: white;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    margin-right: 20px;
    text-transform: uppercase;
    transition: 0.5s;
}

.btn-play:hover {
    background-color: transparent;
    border: 1px solid #FF6F00;
    color: #FF6F00;
}

.btn-watch {
    background-color: transparent;
    border-radius: 30px;
    padding: 10px 30px;
    border: 1px solid white;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.5s;
}

.btn-watch:hover {
    background-color: #fff;
    border: 0;
    color: #000;
}