* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000000;
}

h1 {
    font-family: "Russo One", sans-serif;
}

h2 {
    font-family: "Russo One", sans-serif;
}

h3 {
    font-family: "Russo One", sans-serif;
}

p {
    font-family: "DM Sans", sans-serif;
}

.header-container {
    width: 1600px;
    margin: auto;
}

.hero {
    background: url('img/hero-bg.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
}

.hero-content {
    padding: 150px;
}

.hero-content p {
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: "DM Sans", sans-serif;

}

.hero-content h1 {
    font-size: 80px;
    margin-bottom: 10px;
    text-transform: uppercase;
    width: 50%;
    font-family: "Russo One", sans-serif;
    font-weight: 500;

}

.btn-play {
    background-color: #FF6F00;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 20px;
    color: white;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    margin-right: 20px;
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;

}

.btn-play:hover {
    background-color: transparent;
    border: 1px solid #FF6F00;
    color: #FF6F00;
}

.btn-watch {
    background-color: transparent;
    border-radius: 30px;
    padding: 10px 30px;
    border: 1px solid white;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.5s;
    cursor: pointer;

}

.btn-watch:hover {
    background-color: #fff;
    border: 0;
    color: #000;
}

.games-container {
    width: 1600px;
    margin: auto;
}

.games-content {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    gap: 250px;
    align-items: center;
}

.games-content-right {
    width: 50%;
}

.games-content-right h1 {
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Russo One", sans-serif;
}

.games-content-right p {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.gamers-worldwide-container {
    width: 1600px;
    margin: auto;
}

.gamers-worldwide-content {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(90deg, #151516 0%, #090A0B 100%);
    padding: 50px;
    box-shadow: 0 0 25px 5px rgba(255, 111, 0, 0.25);


}

.gamers-worldwide-content-1 img {
    margin-left: 200px;
}

.gamers-worldwide-content-1 p {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;

}

.explore-container {
    width: 1600px;
    margin: auto;
}

.explore-content {
    margin-top: 100px;
    justify-content: center;
    margin-bottom: 100px;
    text-align: center;
}

.explore-content h1 {
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Russo One", sans-serif;
}

.explore-content h2 {
    font-size: 32px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Russo One", sans-serif;
}

.explore-content p {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    width: 20%;
    margin: auto;

}

.explore-now {
    background-color: #FF6F00;
    margin-top: 20px;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 20px;
    color: white;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    margin-right: 20px;
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;
}

.explore-now:hover {
    background-color: transparent;
    border: 1px solid #FF6F00;
    color: #FF6F00;
}

.each-game-container {
    width: 1600px;
    margin: auto;
}

.each-game-content {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    gap: 150px;
    align-items: center;
}

.each-game-content-left h1 {
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Russo One", sans-serif;
}

.each-game-content-left p {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    width: 50%;
}

.each-game-content-left-btn {
    display: grid;
    gap: 10px;
    margin-top: 30px;
}

.each-game-content-left-btn button {
    width: 400px;
    background-color: #FF6F00;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 20px;
    border: 0;
    color: white;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    margin-right: 20px;
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 20px;
}

.each-game-content-left-btn-1 {
    width: 400px;
    background-color: #FF6F00;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 20px;
    border: 0;
    color: white;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    margin-right: 20px;
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;
    margin-left: 50px;
}

.climb-ladder-claim-crown-container {
    width: 1600px;
    margin: auto;
    margin-bottom: 100px;
}

.climb-ladder-claim-crown-content h1 {
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Russo One", sans-serif;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.climb-ladder-claim-crown-content-buttom {
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 100px;
}

.climb-ladder-claim-crown-content-buttom-card {
    border: 1px solid #FF6F00;
    border-radius: 10px;
    padding: 30px;
    width: 245px;
    height: 208px;
    align-content: center;
}

.climb-ladder-claim-crown-content-buttom-card h1 {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;

}

.upcoming-container {
    width: 1600px;
    margin: auto;
    margin-bottom: 100px;
}

.upcoming-content {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    gap: 150px;
    align-items: center;
    background-image: linear-gradient(90deg, #151516 0%, #090A0B 100%);
    padding: 50px;
    box-shadow: 0 0 25px 5px rgba(255, 111, 0, 0.25);
}

.upcoming-content-right h2 {
    font-size: 24px;
    color: #FF6F00;
    text-transform: uppercase;
    font-family: "Russo One", sans-serif;
    margin-top: 10px;

}

.upcoming-content-right h1 {
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Russo One", sans-serif;
    font-weight: 500;
    margin-top: 10px;

}

.upcoming-content-right h3 {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-family: "DM Sans", sans-serif;
    margin-top: 10px;

}

.register-btn {
    margin-top: 10px;
    background-color: #FF6F00;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 20px;
    color: white;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    margin-right: 20px;
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;
}